    {% extends 'main-users.html' %}
{% load static %}
{% block content %}

<div class="alerts">
            <button class="check-all-btn">Прочитать все</button>
            <div class="alert-item">
                <div class="alert-item-title">
                    <div class="alert-item-title-icon">
                        <img src="{% static 'images/image33.png' %}" alt="">
                    </div>
                    <div class="alert-item-title-text">Hamster Kombat</div>
                </div>
                <div class="alert-item-content">
                    Разбавленное изрядной долей эмпатии, рациональное мышление позволяет выполнить важные задания по разработке анализа существующих паттернов поведения.
                </div>
                <button class="alert-item-check">Прочитать</button>
            </div>
            <div class="alert-item">
                <div class="alert-item-title">
                    <div class="alert-item-title-icon">
                        <img src="{% static 'images/image34.png' %}" alt="">
                    </div>
                    <div class="alert-item-title-text">Notcoin</div>
                </div>
                <div class="alert-item-content">
                    Разбавленное изрядной долей эмпатии, рациональное мышление позволяет выполнить важные задания по разработке анализа существующих паттернов поведения.
                </div>
                <button class="alert-item-check checked">Прочитано</button>
            </div>
            <div class="alert-item">
                <div class="alert-item-title">
                    <div class="alert-item-title-icon">
                        <img src="{% static 'images/image35.png' %}" alt="">
                    </div>
                    <div class="alert-item-title-text">Catizen</div>
                </div>
                <div class="alert-item-content">
                    Разбавленное изрядной долей эмпатии, рациональное мышление позволяет выполнить важные задания по разработке анализа существующих паттернов поведения.
                </div>
                <button class="alert-item-check checked">Прочитано</button>
            </div>
        </div>

{% endblock content %}