{% extends 'main-projects.html' %}
{% block content %}
<main class="main">
    <section class="project-section">
        <div class="slider-tabs">
            <div class="slider-tabs-block">
                <div class="slider-tabs-block-visible">
                    <div class="slider-tabs-item active" data-tab="all">All</div>
                    {% for tag in tags %}
                    <div class="slider-tabs-item" data-tab="{{ tag.name }}">{{ tag.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="filter-btns-block">
            <div class="filter-btns">
                <button class="filter-btns-btn" id="popupBtn">Выбрать сеть</button>
                <button class="filter-btns-btn archive-btn">Избранное</button>
            </div>
        </div>
        <div class="projects-list">
            <div class="row" id="projects-list">
                {% for project in projects %}
                <div class="col-6 projects-list-wrapper {% for tag in project.tags.all %}{{ tag.name }} {% endfor %}{% if project.archive %}Archive{% endif %}">
                    <a href="{% url 'project' project.id %}" class="projects-list-item">
                        <div class="projects-list-item-header">
                            <div class="projects-list-item-img">
                                <img src="{{ project.imageURL }}" alt="">
                            </div>
                            <div class="projects-list-item-title">{{ project.title }}</div>
                        </div>
                        <div class="tags">
                            {% for tag in project.tags.all %}
                            <div class="tags-item">{{ tag.name }}</div>
                            {% endfor %}
                        </div>
                        <div class="filter-tags hide">
                            {% for network in project.networks.all %}
                            <div class="tags-item">{{ network.name }}</div>
                            {% endfor %}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="loadMore">Load More</button>
    </section>
</main>

<div class="filter-popup-bg">
    <div class="filter-popup">
        <button class="filter-popup-close"></button>
        <form id="filterForm">
            <div class="filter-popup-input-block">
                <input autocomplete="off" type="search" placeholder="Search" class="filter-popup-input">
                <input autocomplete="off" name="search_query" type="hidden" class="filter-popup-input-secret">
            </div>
            <div class="filter-popup-value-block">
                {% for network in networks %}
                <div data-net="{{ network.name }}" class="filter-popup-value-item">
                    <div class="filter-popup-value-item-img">
                        <img src="{{ network.imageURL }}" alt="icon">
                    </div>
                    <div class="filter-popup-value-item-text">{{ network.name }}</div>
                    <div class="filter-popup-value-item-count">{{ network.getProjectCount }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="filter-popup-actions">
                <a href="#" class="filter-popup-reset">Сбросить</a>
                <button type="submit" class="filter-popup-accept">Готово</button>
            </div>
        </form>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    let offset = 10;  // Начальный офсет для загрузки данных
    let isLoading = false;  // Флаг загрузки
    let hasMore = true;  // Флаг наличия дополнительных данных
    let filters = {};  // Объект для хранения активных фильтров

    const loadMoreButton = document.querySelector('#loadMore');
    const projectsList = document.querySelector('#projects-list');
    const filterForm = document.querySelector('#filterForm');
    const filterPopup = document.querySelector('.filter-popup');
    const filterPopupBg = document.querySelector('.filter-popup-bg');
    const openPopupBtn = document.querySelector('#popupBtn');
    const closePopupBtn = document.querySelector('.filter-popup-close');
    const acceptPopupBtn = document.querySelector('.filter-popup-accept');
    const resetBtn = document.querySelector('.filter-popup-reset');
    const popupFilterItems = document.querySelectorAll('.filter-popup-value-item');

    openPopupBtn.addEventListener('click', (e) => {
        e.preventDefault();
        filterPopup.classList.add('active');
        filterPopupBg.classList.add('active');
    });

    closePopupBtn.addEventListener('click', (e) => {
        e.preventDefault();
        filterPopup.classList.remove('active');
        filterPopupBg.classList.remove('active');
    });

    acceptPopupBtn.addEventListener('click', (e) => {
        e.preventDefault();
        applyFilters();
    });

    resetBtn.addEventListener('click', (e) => {
        e.preventDefault();
        resetFilters();
    });

    popupFilterItems.forEach(item => {
        item.addEventListener('click', () => {
            item.classList.toggle('active');
            updateFilterObject(item);
        });
    });

    loadMoreButton.addEventListener('click', () => {
        if (isLoading || !hasMore) return;

        isLoading = true;
        loadMoreButton.textContent = 'Loading...';

        const searchQuery = document.querySelector('.filter-popup-input-secret').value;
        const activeNetworks = Object.keys(filters).join(',');

        fetch(`/load_more_projects/?offset=${offset}&search_query=${searchQuery}&networks=${activeNetworks}`)
            .then(response => response.json())
            .then(data => {
                data.projects.forEach(project => {
                    const projectItem = document.createElement('div');
                    projectItem.className = 'col-6 projects-list-wrapper';
                    projectItem.innerHTML = `
                        <a href="/project/${project.id}" class="projects-list-item">
                            <div class="projects-list-item-header">
                                <div class="projects-list-item-img">
                                    <img src="${project.imageURL}" alt="">
                                </div>
                                <div class="projects-list-item-title">${project.title}</div>
                            </div>
                        </a>
                    `;
                    projectsList.appendChild(projectItem);
                });
                offset += 10;
                isLoading = false;
                loadMoreButton.textContent = 'Load More';
                hasMore = data.has_more;
                if (!hasMore) {
                    loadMoreButton.textContent = 'No More Projects';
                    loadMoreButton.disabled = true;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                isLoading = false;
                loadMoreButton.textContent = 'Load More';
            });
    });

    function updateFilterObject(item) {
        const network = item.dataset.net;
        if (item.classList.contains('active')) {
            filters[network] = true;
        } else {
            delete filters[network];
        }
    }

    function applyFilters() {
        const filterQuery = Object.keys(filters).join(',');
        document.querySelector('.filter-popup-input-secret').value = filterQuery;
        projectsList.innerHTML = '';  // Очистить список проектов
        offset = 0;  // Сбросить офсет
        hasMore = true;  // Сбросить флаг наличия дополнительных данных
        loadProjects();
    }

    function resetFilters() {
        popupFilterItems.forEach(item => item.classList.remove('active'));
        filters = {};
        document.querySelector('.filter-popup-input-secret').value = '';
        projectsList.innerHTML = '';  // Очистить список проектов
        offset = 0;  // Сбросить офсет
        hasMore = true;  // Сбросить флаг наличия дополнительных данных
        loadProjects();
    }

    function loadProjects() {
        if (isLoading || !hasMore) return;

        isLoading = true;
        loadMoreButton.textContent = 'Loading...';

        const searchQuery = document.querySelector('.filter-popup-input-secret').value;
        const activeNetworks = Object.keys(filters).join(',');

        fetch(`/load_more_projects/?offset=${offset}&search_query=${searchQuery}&networks=${activeNetworks}`)
            .then(response => response.json())
            .then(data => {
                data.projects.forEach(project => {
                    const projectItem = document.createElement('div');
                    projectItem.className = 'col-6 projects-list-wrapper';
                    projectItem.innerHTML = `
                        <a href="/project/${project.id}" class="projects-list-item">
                            <div class="projects-list-item-header">
                                <div class="projects-list-item-img">
                                    <img src="${project.imageURL}" alt="">
                                </div>
                                <div class="projects-list-item-title">${project.title}</div>
                            </div>
                        </a>
                    `;
                    projectsList.appendChild(projectItem);
                });
                offset += 10;
                isLoading = false;
                loadMoreButton.textContent = 'Load More';
                hasMore = data.has_more;
                if (!hasMore) {
                    loadMoreButton.textContent = 'No More Projects';
                    loadMoreButton.disabled = true;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                isLoading = false;
                loadMoreButton.textContent = 'Load More';
            });
    }
});
</script>
{% endblock content %}
