<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="{% static '/' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="\static\images\icon.svg" type="image/x-icon" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />


    <title>DevSearch - Connect with Developers!</title>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        {% if not project %}
            {% include 'header.html' %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert  alert--{{message.tags}}">
                    <p class="alert__message">{{message}}</p>
                    <button class="alert__close">x</button>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>
</body>
<script src="{% static 'js/users.js' %}"></script>
</html>